.navbar {
    .container-fluid {
        justify-content: flex-start !important;
    }
    .navbar-toggler {
        border: none !important;
        &:focus {
            box-shadow: none;
        }
    }
    .active {
        font-size: bold !important;
        color: #fff !important;
    }
}

.div-buscador {
    flex-grow: 1 !important;
    justify-content: end;
    .buscador {
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: stretch;
        button {
            width: 42px;
            border: none;
            border-radius: 50%;
            background-color: #fff;
        }
        &>.input {
            flex-basis: 100% !important;
            flex-grow: 1 !important;
            border: none !important;
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.user-icon {
    margin-left: 20px;
    height: 50px;
    width: 50px !important;
    border-radius: 50%;
    border: none;
}

.selectUserBtn {
    border: none;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
}

@media (max-width:549px) {
    .div-buscador {
        flex-basis: 100%;
        margin-top: 10px;
        order: 5;
    }
    .navbar-collapse {
        order: 4;
    }
    .user-icon {
        margin-left: auto;
    }
}