<p>for-you works!</p>
<div class="cont">
    <div class="song">
        <div class="image">
            <img src="https://picsum.photos/300/300" alt="">
        </div>
        <div class="text">
            <h3>Yo no soy Celoso</h3>
            <hr>
            <h4>Bad Bunny</h4>
        </div>
    </div>
    <div class="song">
        <div class="image">
            <img src="https://picsum.photos/300/300" alt="">
        </div>
    </div>
    <div class="song">
        <div class="image">
            <img src="https://picsum.photos/300/300" alt="">
        </div>
    </div>
    <div class="song">
        <div class="image">
            <img src="https://picsum.photos/300/300" alt="">
        </div>
    </div>
    <div class="song">
        <div class="image">
            <img src="https://picsum.photos/300/300" alt="">
        </div>
    </div>
    
</div>