<h1  class="text-light">LISTA DE CANCIONES</h1>

<div class="text-light">
  <i class="bi bi-plus-square-fill" [routerLink]="['create']"> AÑADIR CANCION</i>
</div>

<section  *ngIf="songs.length > 0">
    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Duracion</th>
            <th scope="col">Fecha inclusion</th>
            <th scope="col">Visitas totales</th>
            <th scope="col">Nombre album</th>
            <th scope="col">Imagen album</th>
            <th scope="col">Estilo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-light">
          <tr *ngFor="let song of songs">
            <th>{{ song.id }}</th>
            <td>{{ song.name }}</td>
            <td>{{ song.duration }}</td>
            <td>{{ song.inclusionDate }}</td>
            <td>{{ song.totalViews }}</td>
            <td>{{ song.albumName }}</td>
            <td>{{ song.albumImage }}</td>
            <td>{{ song.styleName }}</td>
            <td>
                <i class="bi bi-pencil-square" [routerLink]="[song.id,'update']"></i>
                <i class="bi bi-trash"  data-bs-toggle="modal" data-bs-target="#askConfirmationDelete" (click)="prepareItemToDelete(song.id!);"></i>
            </td>
          </tr>
        </tbody>
      </table>
    
      <div class="botonera-paginacion">
        <button [disabled]="first" class="btn btn-primary btnAtras" (click)="previousPage()">Anterior</button>
        <span class="text-light">Pagina {{(page+1)}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
        <button [disabled]="last" class="btn btn-primary btnSiguiente" (click)="nextPage()">Siguiente</button>
      </div>
</section>

  <!-- Modal -->
<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Desea eliminar el registro seleccionado? Esta operación no puede deshacerse
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteItem();">Eliminar</button>
        </div>
      </div>
    </div>
</div>