<div class="container" >

    <div class="row">
        <div class="col-lg-4 col-12 foto">
            <img src="data:image/jpeg;base64,{{Song?.albumImage}}">
        </div>
        <div class="col-lg-8 col-12 canciones">

            <div class="info">
                <div class="style">
                <p>{{Song?.styleName | titlecase}}</p>
                </div>

                <div class="duration">
                    <div *ngFor="let artist of Song?.artists" class="autor">Autor: {{artist.name | titlecase}}</div> Duration: {{Song?.duration}}
                </div>

            </div>
            <div class="titulo">
                <p>{{Song?.name | titlecase}}</p>
            </div>
            <hr>


            <div class="interaccion" *ngIf="usersong.userId" >

                <div class="play">

                    <i (click)="onClick()" class="bi bi-play bg-primary"></i>

                </div>

                <div class="stars">
                    <form>
                        <p class="clasification">
                          <input id="radio1" type="radio" name="estrellas" (click)="vote(5)" *ngIf="usersong.personalValorations!=5" value="5">
                          <input id="radio1" type="radio" name="estrellas" (click)="vote(5)" *ngIf="usersong.personalValorations==5" checked value="5">
                          <label for="radio1">★</label>

                          <input id="radio2" type="radio" name="estrellas" (click)="vote(4)" *ngIf="usersong.personalValorations!=4" value="4">
                          <input id="radio2" type="radio" name="estrellas" (click)="vote(4)" *ngIf="usersong.personalValorations==4" checked value="4">
                          <label for="radio2">★</label>

                          <input id="radio3" type="radio" name="estrellas" (click)="vote(3)" *ngIf="usersong.personalValorations!=3" value="3">
                          <input id="radio3" type="radio" name="estrellas" (click)="vote(3)" *ngIf="usersong.personalValorations==3" checked value="3">
                          <label for="radio3">★</label>

                          <input id="radio4" type="radio" name="estrellas" (click)="vote(2)" *ngIf="usersong.personalValorations!=2" value="2">
                          <input id="radio4" type="radio" name="estrellas" (click)="vote(2)" *ngIf="usersong.personalValorations==2" checked value="2">
                          <label for="radio4">★</label>

                          <input id="radio5" type="radio" name="estrellas" (click)="vote(1)" *ngIf="usersong.personalValorations!=1" value="1">
                          <input id="radio5" type="radio" name="estrellas" (click)="vote(1)" *ngIf="usersong.personalValorations==1" checked value="1">
                          <label for="radio5">★</label>

                        </p>
                      </form>
                </div>

            </div>
            <p>Debes iniciar session para poder ver y votar las canciones!</p>
        </div>
      </div>

     <!--<app-songs-list></app-songs-list>-->
</div>

