<div class="container">

    <div class="row">
        <div class="col-4">
            <img src="https://picsum.photos/300/300">
        </div>
        <div class="col-8 canciones" style="background-color: green;">
            
            <div class="style">
                <p>Rock</p>
            </div>
            <div class="titulo">
                <p>Santa</p>
            </div>
            <div class="info">
                <div class="autor">
                    Cupido
                </div>
                <div class="duracion">
                    2:30
                </div>
            </div>

            <div class="interaccion">

                <div class="play">
                    <i class="fa-solid fa-play"></i>
                </div>

                <div class="stars">
                    xxxxx
                </div>

            </div>
            
        </div>
      </div>

</div>

